git+https://github.com/Rapptz/discord.py
git+https://github.com/Rapptz/discord-ext-menus
pytz
babel
aiohttp
numpy
selenium
toml
matplotlib
blackfire
python-dateutil
uvloop
folium
plotly
pycountry_convert
scipy
sentry_sdk
pandas
