aiofiles~=0.6.0
aiohttp~=3.6.2
Babel~=2.8.0
matplotlib~=3.3.2
numpy~=1.19.4
pandas~=1.1.4
parsedatetime~=2.6
python-dateutil~=2.8.1
pytz~=2020.4
scipy~=1.5.3
selenium~=3.141.0
toml~=0.10.1
uvloop~=0.14.0
folium~=0.11.0
Keras~=2.4.3
plotly~=4.12.0

arrow~=0.17.0
blackfire~=1.5.3
sklearn~=0.0
scikit-learn~=0.23.2
